.App {
  text-align: center;
}

body {
  background-color: aquamarine;
}

#map {
  display: flex;
  /* position: relative; */
  justify-content: center;
  /* align-items: center; */
  margin: 50px 100px 50px 100px;
  padding: 10px;
  align-self: center;
  border-style: solid;
  border-color: blue;
  height: 600px;
  min-width: 400px;
}

/* .popup .leaflet-popup-tip, */
.popup .leaflet-popup-content-wrapper {
    background: #120a8f;
    color: whitesmoke;
    font-size: medium;
}
.leaflet-popup-tip {
  background: gold;
}